#################
## Original
#################

# wildcard patterns
Makefile
Makefile.in
.deps/
.libs/
*.o
*.l[ao]
*.swp
.dirstamp
.stamps/
stamp-h?
glibmmconfig.h
giommconfig.h
*~

# /
/INSTALL
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/config.status.lineno
/configure
/configure.lineno
/libtool
/glibmm-*.tar.*
/tags

# scripts/
/build/config.*
/build/depcomp
/build/install-sh
/build/ltmain.sh
/build/libtool.m4
/build/lt*.m4
/build/missing

# MSVC_Net20*/
/MSVC_Net200[58]/giomm/giomm.rc
/MSVC_Net200[58]/glibmm/glibmm.rc
/MSVC_Net2010/giomm/giomm.rc
/MSVC_Net2010/glibmm/glibmm.rc

# docs/
/docs/doc-install.pl
/docs/doc-postprocess.pl
/docs/doxygen.css
/docs/tagfile-to-devhelp2.xsl
/docs/reference/Doxyfile
/docs/reference/doxygen.log
/docs/reference/glibmm-2.4.devhelp2
/docs/reference/glibmm-2.4.tag
/docs/reference/html/

# examples/
/examples/child_watch/child_watch
/examples/compose/example
/examples/dbus/client_bus_listnames
/examples/dbus/server_without_bus
/examples/dbus/session_bus_service
/examples/iochannel_stream/example
/examples/keyfile/example
/examples/markup/parser
/examples/network/resolver
/examples/network/socket-client
/examples/network/socket-server
/examples/options/example
/examples/properties/example
/examples/regex/example
/examples/settings/settings
/examples/settings/gschemas.compiled
/examples/thread/dispatcher
/examples/thread/dispatcher2
/examples/thread/thread
/examples/thread/threadpool

# gio/
/gio/giomm-*.pc
/gio/giomm-*-uninstalled.pc
/gio/giomm/action.cc
/gio/giomm/action.h
/gio/giomm/actiongroup.cc
/gio/giomm/actiongroup.h
/gio/giomm/actionmap.cc
/gio/giomm/actionmap.h
/gio/giomm/appinfo.cc
/gio/giomm/appinfo.h
/gio/giomm/applaunchcontext.cc
/gio/giomm/applaunchcontext.h
/gio/giomm/application.cc
/gio/giomm/application.h
/gio/giomm/applicationcommandline.cc
/gio/giomm/applicationcommandline.h
/gio/giomm/asyncinitable.cc
/gio/giomm/asyncinitable.h
/gio/giomm/asyncresult.cc
/gio/giomm/asyncresult.h
/gio/giomm/bufferedinputstream.cc
/gio/giomm/bufferedinputstream.h
/gio/giomm/bufferedoutputstream.cc
/gio/giomm/bufferedoutputstream.h
/gio/giomm/cancellable.cc
/gio/giomm/cancellable.h
/gio/giomm/charsetconverter.cc
/gio/giomm/charsetconverter.h
/gio/giomm/converter.cc
/gio/giomm/converter.h
/gio/giomm/converterinputstream.cc
/gio/giomm/converterinputstream.h
/gio/giomm/converteroutputstream.cc
/gio/giomm/converteroutputstream.h
/gio/giomm/credentials.cc
/gio/giomm/credentials.h
/gio/giomm/datainputstream.cc
/gio/giomm/datainputstream.h
/gio/giomm/dataoutputstream.cc
/gio/giomm/dataoutputstream.h
/gio/giomm/dbusactiongroup.cc
/gio/giomm/dbusactiongroup.h
/gio/giomm/dbusaddress.cc
/gio/giomm/dbusaddress.h
/gio/giomm/dbusauthobserver.cc
/gio/giomm/dbusauthobserver.h
/gio/giomm/dbusconnection.cc
/gio/giomm/dbusconnection.h
/gio/giomm/dbuserror.cc
/gio/giomm/dbuserror.h
/gio/giomm/dbuserrorutils.cc
/gio/giomm/dbuserrorutils.h
/gio/giomm/dbusinterface.cc
/gio/giomm/dbusinterface.h
/gio/giomm/dbusinterfaceskeleton.cc
/gio/giomm/dbusinterfaceskeleton.h
/gio/giomm/dbusinterfacevtable.cc
/gio/giomm/dbusinterfacevtable.h
/gio/giomm/dbusintrospection.cc
/gio/giomm/dbusintrospection.h
/gio/giomm/dbusmenumodel.cc
/gio/giomm/dbusmenumodel.h
/gio/giomm/dbusmessage.cc
/gio/giomm/dbusmessage.h
/gio/giomm/dbusmethodinvocation.cc
/gio/giomm/dbusmethodinvocation.h
/gio/giomm/dbusobject.cc
/gio/giomm/dbusobject.h
/gio/giomm/dbusownname.cc
/gio/giomm/dbusownname.h
/gio/giomm/dbusproxy.cc
/gio/giomm/dbusproxy.h
/gio/giomm/dbusserver.cc
/gio/giomm/dbusserver.h
/gio/giomm/dbussubtreevtable.cc
/gio/giomm/dbussubtreevtable.h
/gio/giomm/dbusutils.cc
/gio/giomm/dbusutils.h
/gio/giomm/dbuswatchname.cc
/gio/giomm/dbuswatchname.h
/gio/giomm/desktopappinfo.cc
/gio/giomm/desktopappinfo.h
/gio/giomm/drive.cc
/gio/giomm/drive.h
/gio/giomm/emblem.cc
/gio/giomm/emblem.h
/gio/giomm/emblemedicon.cc
/gio/giomm/emblemedicon.h
/gio/giomm/enums.cc
/gio/giomm/enums.h
/gio/giomm/error.cc
/gio/giomm/error.h
/gio/giomm/file.cc
/gio/giomm/file.h
/gio/giomm/fileattributeinfo.cc
/gio/giomm/fileattributeinfo.h
/gio/giomm/fileattributeinfolist.cc
/gio/giomm/fileattributeinfolist.h
/gio/giomm/fileenumerator.cc
/gio/giomm/fileenumerator.h
/gio/giomm/fileicon.cc
/gio/giomm/fileicon.h
/gio/giomm/fileinfo.cc
/gio/giomm/fileinfo.h
/gio/giomm/fileinputstream.cc
/gio/giomm/fileinputstream.h
/gio/giomm/fileiostream.cc
/gio/giomm/fileiostream.h
/gio/giomm/filemonitor.cc
/gio/giomm/filemonitor.h
/gio/giomm/filenamecompleter.cc
/gio/giomm/filenamecompleter.h
/gio/giomm/fileoutputstream.cc
/gio/giomm/fileoutputstream.h
/gio/giomm/filterinputstream.cc
/gio/giomm/filterinputstream.h
/gio/giomm/filteroutputstream.cc
/gio/giomm/filteroutputstream.h
/gio/giomm/icon.cc
/gio/giomm/icon.h
/gio/giomm/inetaddress.cc
/gio/giomm/inetaddress.h
/gio/giomm/inetsocketaddress.cc
/gio/giomm/inetsocketaddress.h
/gio/giomm/initable.cc
/gio/giomm/initable.h
/gio/giomm/inputstream.cc
/gio/giomm/inputstream.h
/gio/giomm/iostream.cc
/gio/giomm/iostream.h
/gio/giomm/loadableicon.cc
/gio/giomm/loadableicon.h
/gio/giomm/memoryinputstream.cc
/gio/giomm/memoryinputstream.h
/gio/giomm/memoryoutputstream.cc
/gio/giomm/memoryoutputstream.h
/gio/giomm/menu.cc
/gio/giomm/menu.h
/gio/giomm/menuattributeiter.cc
/gio/giomm/menuattributeiter.h
/gio/giomm/menuitem.cc
/gio/giomm/menuitem.h
/gio/giomm/menulinkiter.cc
/gio/giomm/menulinkiter.h
/gio/giomm/menumodel.cc
/gio/giomm/menumodel.h
/gio/giomm/mount.cc
/gio/giomm/mount.h
/gio/giomm/mountoperation.cc
/gio/giomm/mountoperation.h
/gio/giomm/networkaddress.cc
/gio/giomm/networkaddress.h
/gio/giomm/networkservice.cc
/gio/giomm/networkservice.h
/gio/giomm/outputstream.cc
/gio/giomm/outputstream.h
/gio/giomm/pollableinputstream.cc
/gio/giomm/pollableinputstream.h
/gio/giomm/pollableoutputstream.cc
/gio/giomm/pollableoutputstream.h
/gio/giomm/proxy.cc
/gio/giomm/proxy.h
/gio/giomm/proxyaddress.cc
/gio/giomm/proxyaddress.h
/gio/giomm/proxyresolver.cc
/gio/giomm/proxyresolver.h
/gio/giomm/remoteactiongroup.cc
/gio/giomm/remoteactiongroup.h
/gio/giomm/resolver.cc
/gio/giomm/resolver.h
/gio/giomm/resource.cc
/gio/giomm/resource.h
/gio/giomm/seekable.cc
/gio/giomm/seekable.h
/gio/giomm/settings.cc
/gio/giomm/settings.h
/gio/giomm/simpleaction.cc
/gio/giomm/simpleaction.h
/gio/giomm/simpleactiongroup.cc
/gio/giomm/simpleactiongroup.h
/gio/giomm/socket.cc
/gio/giomm/socket.h
/gio/giomm/socketaddress.cc
/gio/giomm/socketaddress.h
/gio/giomm/socketaddressenumerator.cc
/gio/giomm/socketaddressenumerator.h
/gio/giomm/socketclient.cc
/gio/giomm/socketclient.h
/gio/giomm/socketconnectable.cc
/gio/giomm/socketconnectable.h
/gio/giomm/socketconnection.cc
/gio/giomm/socketconnection.h
/gio/giomm/socketcontrolmessage.cc
/gio/giomm/socketcontrolmessage.h
/gio/giomm/socketlistener.cc
/gio/giomm/socketlistener.h
/gio/giomm/socketservice.cc
/gio/giomm/socketservice.h
/gio/giomm/srvtarget.cc
/gio/giomm/srvtarget.h
/gio/giomm/tcpconnection.cc
/gio/giomm/tcpconnection.h
/gio/giomm/themedicon.cc
/gio/giomm/themedicon.h
/gio/giomm/threadedsocketservice.cc
/gio/giomm/threadedsocketservice.h
/gio/giomm/unixsocketaddress.h
/gio/giomm/unixconnection.cc
/gio/giomm/unixconnection.h
/gio/giomm/unixcredentialsmessage.cc
/gio/giomm/unixcredentialsmessage.h
/gio/giomm/unixfdlist.cc
/gio/giomm/unixfdlist.h
/gio/giomm/unixfdmessage.cc
/gio/giomm/unixfdmessage.h
/gio/giomm/unixinputstream.cc
/gio/giomm/unixinputstream.h
/gio/giomm/unixoutputstream.cc
/gio/giomm/unixoutputstream.h
/gio/giomm/unixsocketaddress.cc
/gio/giomm/volume.cc
/gio/giomm/volume.h
/gio/giomm/volumemonitor.cc
/gio/giomm/volumemonitor.h
/gio/giomm/zlibdecompressor.h
/gio/giomm/zlibcompressor.cc
/gio/giomm/zlibcompressor.h
/gio/giomm/zlibdecompressor.cc

# glib/
/glib/glibmm-*.pc
/glib/glibmm/private/*_p.h
/glib/glibmm/balancedtree.cc
/glib/glibmm/balancedtree.h
/glib/glibmm/bytearray.cc
/glib/glibmm/bytearray.h
/glib/glibmm/bytes.cc
/glib/glibmm/bytes.h
/glib/glibmm/checksum.cc
/glib/glibmm/checksum.h
/glib/glibmm/convert.cc
/glib/glibmm/convert.h
/glib/glibmm/date.cc
/glib/glibmm/date.h
/glib/glibmm/datetime.cc
/glib/glibmm/datetime.h
/glib/glibmm/fileutils.cc
/glib/glibmm/fileutils.h
/glib/glibmm/iochannel.cc
/glib/glibmm/iochannel.h
/glib/glibmm/keyfile.cc
/glib/glibmm/keyfile.h
/glib/glibmm/markup.cc
/glib/glibmm/markup.h
/glib/glibmm/module.cc
/glib/glibmm/module.h
/glib/glibmm/nodetree.cc
/glib/glibmm/nodetree.h
/glib/glibmm/optioncontext.cc
/glib/glibmm/optioncontext.h
/glib/glibmm/optionentry.cc
/glib/glibmm/optionentry.h
/glib/glibmm/optiongroup.cc
/glib/glibmm/optiongroup.h
/glib/glibmm/regex.cc
/glib/glibmm/regex.h
/glib/glibmm/shell.cc
/glib/glibmm/shell.h
/glib/glibmm/spawn.cc
/glib/glibmm/spawn.h
/glib/glibmm/thread.cc
/glib/glibmm/thread.h
/glib/glibmm/threads.cc
/glib/glibmm/threads.h
/glib/glibmm/timezone.cc
/glib/glibmm/timezone.h
/glib/glibmm/unicode.cc
/glib/glibmm/unicode.h
/glib/glibmm/uriutils.cc
/glib/glibmm/uriutils.h
/glib/glibmm/valuearray.cc
/glib/glibmm/valuearray.h
/glib/glibmm/variant.cc
/glib/glibmm/variant.h
/glib/glibmm/variantiter.cc
/glib/glibmm/variantiter.h
/glib/glibmm/varianttype.cc
/glib/glibmm/varianttype.h

# tests/
/tests/*/test

# tools/
/tools/defs_gen/*.pyc
/tools/extra_defs_gen/generate_defs_gio
/tools/extra_defs_gen/generate_defs_glib
/tools/generate_wrap_init.pl
/tools/gmmproc


#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


#################
## Visual Studio
#################

## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results

[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# NCrunch
*.ncrunch*
.*crunch*.local.xml

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.Publish.xml
*.pubxml

# NuGet Packages Directory
## TODO: If you have NuGet Package Restore enabled, uncomment the next line
#packages/

# Windows Azure Build Output
csx
*.build.csdef

# Windows Store app package directory
AppPackages/

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.[Pp]ublish.xml
*.pfx
*.publishsettings

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file to a newer
# Visual Studio version. Backup files are not needed, because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# SQL Server files
App_Data/*.mdf
App_Data/*.ldf

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store


#############
## Python
#############

*.py[co]

# Packages
*.egg
*.egg-info
dist/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

/MSVC_Net2005/giomm/giomm.rc
/MSVC_Net2005/glibmm/glibmm.rc
/build/msvc/glibmm.vsprops
